version: '3.8'

services:
  db:
    build:
      context: ./database
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: my_app_db
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  server:
    build:
      context: ./server
    container_name: server
    ports:
      - "5000:5000"
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: my_app_db
      PORT: 5000
    depends_on:
      db:
        condition: service_healthy

  client:
    build:
      context: ./client
    container_name: client
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  mysql_data:
